.round {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}

.square {
    position: absolute;
    top: calc(100% - 200px);
    left: calc(100% - 200px);
    width: 200px;
    height: 200px;
    background-color: green;
}

.stop-play {
    position: absolute;
    top: 50%;
    left: 40%;
}

.reset {
    position: absolute;
    top: 50%;
    left: 60%;
}